<div class="tasklist">
<h1 class="tasks-heading">TASK LIST</h1>
<ul class="tasks-list">
    <li *ngFor="let task of tasks; let i = index" class="task-item">
      <h3 class="task-title">{{ task.taskname }}</h3>
      <p class="task-description">{{ task.description }}</p>
      <button class="update-button" (click)="toggleUpdateTask(i)">Update</button>
      <button class="delete-button" (click)="deleteTask(i)">Delete</button>
      <div *ngIf="showUpdateTaskIndex === i" class="update-task">
        <app-update-task [task]="task" (onUpdate)="updateTask(task)"></app-update-task>
      </div>
    </li>
</ul>
</div>